html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: "Akira";
  src: url("/Fonts/Akira\ Expanded\ Demo.otf") format("opentype");
}

@font-face {
  font-family: "mc";
  src: url("/Fonts/minecraft-ten-font-cyrillic.ttf") format("opentype");
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* NAV */

nav {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  position: fixed;
  background: transparent;
  mix-blend-mode: difference;
  box-sizing: border-box;
  z-index: 10;
}

.logo img {
  width: 45%;
}

#Frostela {
  margin-left: 5px;
}

nav a {
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.4rem;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown menu hidden by default */
.dropdown-menu {
  position: absolute;
  top: 100%;
  /* right below the parent */
  right: 0;
  padding-bottom: 8px;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: right;
}

.dropdown-menu a {
  display: inline-block;
  /* instead of block */
  position: relative;
  /* needed for ::after underline */
  white-space: nowrap;
}

/* Each dropdown item */
.dropdown-menu li {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Animate child links (stagger effect) */
.dropdown:hover .dropdown-menu li {
  opacity: 1;
  transform: translateY(0);
}

.dropdown:hover .dropdown-menu li:nth-child(1) {
  transition-delay: 0.05s;
}

.dropdown:hover .dropdown-menu li:nth-child(2) {
  transition-delay: 0.1s;
}

.dropdown:hover .dropdown-menu li:nth-child(3) {
  transition-delay: 0.15s;
}

main {
  padding-top: 120px;
}

/* Marquee Section--------------------------------------------------------------------------------------------------------------- */

.marquee {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #E1E1E1;
  z-index: 11;
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.marquee-content span {
  white-space: nowrap;
  margin: 0 1.5rem;
  /* spacing between repeats */
  font-size: 1rem;
  font-weight: 100 !important;
  font-family: "Krona One", Helvetica, sans-serif !important;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.marquee-content div {
  width: 7px;
  height: 7px;
  margin: auto 0;
  background-color: #FF0014;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

  /* shift by half since we duplicated text */
}

/* Cat Section------------------------------------------------------------------------------------------------------------------- */

/* Cat sprite animation */
.cat {
  position: fixed;
  bottom: 15px;
  /* just above the marquee */
  left: -100px;
  /* start off screen */
  width: 96px;
  /* frame width (adjust to 1 frame width from your sprite sheet) */
  height: 64px;
  /* frame height */
  background: url("/contents/images/cat/WALK.png") left center;
  background-size: cover;

  /* Make it walk across screen */
  animation: walkAcross 12s linear infinite, walkSprite 2s steps(12) infinite;
  cursor: pointer;
  z-index: 20;
}

/* Walk across screen */
@keyframes walkAcross {
  0% {
    left: 100%;
  }

  100% {
    left: -100px;
  }
}

/* Animate sprite frames */
@keyframes walkSprite {
  from {
    background-position: 0px;
  }

  to {
    background-position: -960px;
  }

  /* frameWidth * frameCount */
}

/* Message bubble */
.cat::after {
  content: "Meow 🐾";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.cat:hover::after {
  opacity: 1;
}


/* Hero Section------------------------------------------------------------------------------------------------------------------ */

#hero-section {
  position: relative;
}

.hero-video-div {
  min-height: 60vh;
  position: relative;
  overflow: hidden;
  margin: 20px;
  border-radius: 30px;
}

.hero-video {
  width: 100%;
  height: 50lvh;
  min-height: 70vh;
  object-fit: cover;
  filter: blur(3px);
  scale: 1.1;
}

.hero-headings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2rem;
  overflow: visible;
}

.h1s {
  gap: 5px;
  overflow: visible;
}

.hero-headings h1 {
  font-family: "Akira", sans-serif;
  font-size: 12vw;
  display: inline;
  color: #ffffff;
  line-height: 120%;
  transition: all 0.4s ease;
}

.hero-headings h1:hover {
  color: #37a5ffd0;
  /* translucent glassy white */
  text-shadow:
    0 4px 15px #37a5ffd0;
  /* soft glow */

  transform: scale(1.2);
  cursor: pointer;
}

.hero-headings div {
  display: flex;
  justify-content: flex-end;
  font-family: "Archivo", sans-serif;
  font-size: 2.7vw;
  margin-top: -2.7vw;
}

/* About me Section------------------------------------------------------------------------------------------------------------- */

#about-me {
  padding: 70px 20px 50px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#about-me-wrapper{
  width: fit-content;
  display: flex;
  flex-direction: column;
}

#top-div {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow: visible;
  width: fit-content
}

#about-me h1 {
  font-size: 12vw;
  font-family: "Instrument Sans", serif;
  text-align: center;
  font-weight:500;
  line-height: 0.8;
  white-space: nowrap;
}

.website-designer-box {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
}

.website-designer-box div {
  background-color: #FF0014;
  padding: 5px 30px;
  flex-grow: 0;
}

.website-designer-box h5 {
  font-size: 3.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  width: fit-content;
  color: white;
  
}

.reveal .line {
  display: block;
  overflow: visible;
}

.reveal .word,
.reveal .char {
  display: inline-block;
  will-change: transform, opacity;
}

.in-about-me {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: fit-content
}

.img-with-points {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: flex-start;
}

.img-with-points img {
  padding-top: 3px;
  width: 14%;
  height:fit-content;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me-text p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 25px;
  line-height: 1;
}

.arrow-wheel {
  display: flex;
  width: 80;
  flex-direction: row;
  position: relative;
  bottom: 2vw;
  align-items:center;
  justify-content: space-between;
}

#arrow-div {
  position: relative;
  width: 4vw;
  height: 4vw;
  background-color: #FF0014;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2vw;
}

#arrow-div img {
  width: 60%;
}

.arrow-wheel #wheel {
  aspect-ratio: 1/1;
  width: 6vw;
  height: 6vw;
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.arrow-wheel #wheel:hover {
  animation: spin 3s linear infinite;
}



/* My Works Section---------------------------------------------------------------------------------------------------------------- */

.sticky-section {
  position: relative;
  padding-left: 30px;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.sticky-section span {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  font-family: "archivo", serif;
  font-weight: 500;
  font-size: 1.2rem;
}

/* Website List Section */


.website-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: visible;
  margin-left: 30px;
}

.website h1 {
  font-size: 6.5vw;
  font-family: "Instrument Serif", serif;
  text-align: left;
  font-weight: 100;
  line-height: 0.8;
}

.website {
  position: relative;
  padding: 5px;

}

.image-wrapper {
  position: relative;
  display: inline-block;
  /* shrink-wrap to image */
  transition: 500ms;
  overflow: visible;
}

.website-ss {
  width: 50vw;
  transition: 500ms;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 3px 3px 18px -1px rgba(0, 0, 0, 0.41);

}

.website-ss:hover {}

.image-wrapper p {
  font-family: "archivo", serif;
  font-weight: 400;
  font-size: 1.5rem;
  position: absolute;
  z-index: 10;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  opacity: 0;
  transition: 600ms;
}

.image-wrapper:hover p {
  opacity: 1;
}

/* Helping Brands Section-------------------------------------------------------------------------------------------------------- */

#helping-brand {
  display: flex;
  justify-content: space-between;
  padding: 100px 20px;
  align-items: center;
}

#helping-heading {
  width: 100vw;
}

#helping-heading h2 {
  font-weight: bold;
  color: #000000;
  font-size: 6vw;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.95;
}

#helping-heading .accent {
  color: #FF0014;
}

/* Why Consider Me ------------------------------------------------------------------------------------------------------------------------------------------ */

#why-consider-me--services {
  margin-top: 50px;
  padding-top: 150px;
  padding-bottom: 3px;
  background: linear-gradient(0deg, rgba(182, 182, 182, 1.00) 0%, rgba(245, 245, 245, 1.00) 100%);
  display: flex;
  justify-content: right;
}


.why-consider-me-heading {
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
  padding: 70px 0 10px 20px;
  letter-spacing: -2px;
}

/* Reasons */

.reasons {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 2px;
  z-index: 10;
  position: relative;
}

.reason {
  padding: 20px 20px;
  background: linear-gradient(143deg, rgba(255, 255, 255, 1.00) 0%, rgba(242, 242, 242, 1.00) 50%, rgba(255, 255, 255, 1.00) 100%);
  transition: background-color 500ms ease;
  cursor: pointer;
  z-index: 20;
}

.reason:hover {
  background-color: #ffffff;
}

.click-heading h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

}

.reason p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  width: 30%;
  opacity: 0;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease, margin 0.4s ease, padding 0.7s ease;
  margin-left: 10px;
}

.reason p.show {
  max-height: 500px;
  /* large enough to fit your text */
  opacity: 1;
  margin-top: 50px;
  margin-bottom: 20px;
}

.grow-widths {
  position: relative;
  left: 40px;
  opacity: 0.5;
  /* hidden initially */
  transition: all 0.6s;
}

.grow-widths.show {
  opacity: 1;
  left: 0;
}

/* Contact Me Section------------------------------------------------------------------------------------------------------------ */

#contact-me {
  padding: 10px 0 50px;
}

#contact-me h1 {
  font-size: 7vw;
  font-family: "Akira", sans-serif;
  text-align: center;
}

#contact-me .wrap {
  width: 100%;
  padding: 50px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#contact-me .card {
  padding: 28px;
  width: 100%;
  height: 80%;
}

#contact-form {
  width: 40%;
}

.wrap .place {

  font-family: "Archivo", Arial, Helvetica, sans-serif;
  width: 40%;
}

.place h3 {
  font-weight: 400;
  font-size: 1rem;
}

/* Flex */
#contact-me .flex {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#contact-me .fullname {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

#firstName,
#lastName {
  width: 50%;
}

/* Labels and fields */
label {
  display: block;
  margin: 0 0 5px;
  font-size: 1rem;
  color: #000000;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 12px 0 30px 0;
  border: none;
  border-bottom: 2px solid #000000b4 !important;
  color: #000000 !important;
  outline: none;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #292929;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus {
  border-color: rgba(96, 165, 250, 0.7);
  background: rgba(255, 255, 255, 0.06);
}

.help {
  margin-top: 6px;
  font-size: 12px;
  color: #9ca3af;
}

/* Actions */
#contact-me .row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 14px;
}

#contact-me button {
  appearance: none;
  border: none;
  /* border-radius: 50px; */
  padding: 12px 30px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(135deg, #96000c, #FF0014);
  cursor: pointer;
  transition:
    transform 0.06s ease-in,
    box-shadow 0.2s;
}

#contact-me button:hover {
  background: linear-gradient(135deg, #610008, #ac000e);
}

#contact-me button:active {
  transform: translateY(1px);
  box-shadow: 0 6px 16px rgba(96, 165, 250, 0.26);
}

/* Messages */
#contact-me .error {
  display: none;
  color: #f87171;
  font-size: 12px;
}

#contact-me .ok {
  display: none;
  color: #00812f;
  font-size: 1rem;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/* Footer Section---------------------------------------------------------------------------------------------------------------- */
footer {
  padding: 50px 20px 50px 20px;
}

footer .links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials a {
  list-style: none;
  text-decoration: none;
  color: #292929;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 600ms;
}

.email a {
  color: #292929;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  transition: 600ms;
}

.email a:hover {
  color: #000000;
}

.socials a:hover {
  color: #000000;
}

.privacy {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.privacy p {
  font-size: 0.8rem;
  color: #525252;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}


/* 1200p Tab Versionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */

@media (max-width: 1024px) {
  #about-me h1 {}

  .word {
    width: fit-content;
  }

  .website-designer-box h5 {
    font-size: 2.5rem;
  }

  #about-me-wrapper {
    padding-left: 2vw;
  }

  #arrow-div {
    position: relative;
    width: 5vw;
    height: 5vw;
    background-color: #FF0014;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2vw;
  }

}